CakePHP 3

web/vendor/*
web/config/app.php
web/tmp/*
web/logs/*
web/.htaccess
conf/*
php_errors.log

CakePHP 2

web/app/tmp/*
web/app/Config/core.php
web/app/Config/database.php
web/vendors/*

conf/*
cron/*
